.zoomed_avatar .panelControlBar .drag-grabber,
.zoomed_avatar .panelControlBar .dragClose,
#st-native-crop-btn {
    filter: none !important;
    opacity: 1 !important;
    font-size: calc(var(--mainFontSize)*1.3) !important;
}

.zoomed_avatar .panelControlBar .drag-grabber.fa-solid,
.zoomed_avatar .panelControlBar .dragClose.fa-solid,
#st-native-crop-btn .fa-solid {
    font-size: calc(var(--mainFontSize)*1.3) !important;
}

body .panelControlBar {
    align-items: center;
    opacity: 1 !important;
}

.dragClose {
    height: 20px !important;
}

#st-native-crop-btn {
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 0 15px 0 10px;
}
